h1 {
    color: red;
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
     Arial, sans-serif;
}

.parent1 {
    border: 2px solid black;
    gap: 10px;
    width: 100%;
    height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;


}

.child1 {
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.box1 {
    grid-column: 1/13;
}

.box2 {
    grid-column: 1/7;

}

.box3 {
    grid-column: 7/13;
}

.box4 {
    grid-column: 1/5;

}

.box5 {
    grid-column: 5/9;

}

.box6 {
    grid-column: 9/13;
}

.box7 {
    grid-column: 1/4;
}

.box8 {
    grid-column: 4/7;
}

.box9 {
    grid-column: 7/10;
}

.box10 {
    grid-column: 10/13;

}

.box11 {
    grid-column: 1/3;
}

.box12 {
    grid-column: 3/5;
}

.box13 {
    grid-column: 5/7;
}

.box14 {
    grid-column: 7/9;
}

.box15 {
    grid-column: 9/11;
}

.box16 {
    grid-column: 11/13;
}

/*  GRID 2  */

.parent2 {
    border: 2px solid black;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 100px;
}

.child2 {
    border: 2px solid black;
    background-color: green;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-weight: 900;

}

.div1 {
    grid-row: 1/13;
}

.div2 {
    grid-row: 1/7;
}

.div3 {
    grid-row: 7/13;
}

.div4 {
    grid-row: 1/5;
}

.div5 {
    grid-row: 5/9;
}

.div6 {
    grid-row: 9/13;
}

.div7 {
    grid-row: 1/4;
}

.div8 {
    grid-row: 4/7;
}

.div9 {
    grid-row: 7/10;
}

.div10 {
    grid-row: 10/13;
}

.div11 {
    grid-row: 1/3;
}

.div12 {
    grid-row: 3/5;
}

.div13 {
    grid-row: 5/7;
}

.div14 {
    grid-row: 7/9;
}

.div15 {
    grid-row: 9/11;
}

.div16 {
    grid-row: 11/13;
}